<div class="auth-container">
  <mat-card>
    <h2>Sign Up</h2>
    <form (ngSubmit)="onSignup()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Full Name</mat-label>
        <input placeholder="Name" matInput [(ngModel)]="name" name="name" type="text" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input placeholder="Email" matInput [(ngModel)]="email" name="email" type="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input placeholder="Password" matInput [(ngModel)]=" password" name="password" type="password" required />
      </mat-form-field>

      <button mat-raised-button color="accent" class="full-width" type="submit">
        Sign Up
      </button>
    </form>
    <p>
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </mat-card>
</div>