<div class="auth-container">
  <mat-card>
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input placeholder="Email" matInput [(ngModel)]="email" name="email" type="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input placeholder="Password" matInput [(ngModel)]="password" name="password" type="password" required />
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit">
        Login
      </button>
    </form>
    <p>
      Don’t have an account?
      <a routerLink="/signup">Sign up</a>
    </p>
  </mat-card>
</div>